<!doctype html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app.css') }}" />
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="{{ url_for('static', filename='app.js') }}"></script>
<script src="{{ url_for('static', filename='socket.io.dev.js') }}"></script>


<title>Hello from Flask</title>
<script>
  game_id = {{ game.id|tojson }};
  word={{ game.word|tojson }};
  subs={{ game.subs|tojson }};
  server_remaining_secs = {{ game.remaining_secs()|tojson}}
</script>
  <h1>Hello, World!</h1>
  <div id="timer">0:00</div>
  <div id="word">{{ game.word }}</div>

  <div id="form"><form autocomplete="off">
    <input id="input"></input>
  </form></div>
  <p>
  <div id="score">Score: <span id="score_value">0</span></div>
  <div id="result_title">Words:</div>
  <div id="accepted"></div>
  <p>
  <div id="result_title">Rejected:</div>
  <div id="rejected"></div>

  <div id="result_title">Missed:</div>
  <div id="answer"></div>

</body>
</html>